{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ book.name }}</h1>

    <h2>Author</h2>
    <p>{{ book.author }}</p>

    <h2>Description</h2>
    <p>{{ book.description|default('')|nl2br }}</p>
{% endblock %}
